.App {
  text-align: center;
  margin: 0;
  overflow-y: none;
  overflow-x: none;
}

.nav-container{
  display: flex;
  position: absolute;
  width: 100vw;
  height: 40px;
  align-items: center;
  justify-content: center;
}

